<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	
	<!--Google-->
	<add key="GoogClientId" value = "506273605299-gcolp4e5k62s9inn6fv7i9d5o9mbg617.apps.googleusercontent.com"/>
	<add key="GoogClientSecret" value="JQg-fLsxF5nPgS6W5wwUbqCm"/>
	
	<!--facebook-->
	<add key="faceId" value = "145830229277864"/>
	<add key="faceSecret" value="32f9eb65b0f8ffdbeb229d898c10d974"/>
	
		<!--MicrosoftAccount-->
	<add key="MicroId" value = "81cb2685-f1b5-4493-b753-4b211c2ba189"/>
	<add key="MicroSecret" value="NUJkuPnvcZ2qbWoBk5mmqii"/>
	
</appSettings>