<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnectiondev" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=AskYourMechanicDon;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=184.173.188.68,780;Initial Catalog=wemorgan1960_rockiesstor;User ID=wemorgan1960_rockiesstore;Password=pSb4b12*;Connect Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>


