 <!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center margin20">
                <div class="footer-col">
                    @*<h3><img src="~/Theme/img/logo-white.png" alt=""></h3>*@
                    @*<div class="social">
                        <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="social-icon si-dark si-gray-round si-colored-instagram">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>*@
                </div>
            </div><!--footer col-->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2017. Theme by Design_mylife</span>
                </div>
            </div>
        </div>
    </div>
</footer><!--footer 2 end-->
<!--footer end-->
