@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>AskYouMechanicDon.com</p>
<br />
<br/>
<p>
    The brains behind askyourmechanicdon.com is Don Morgan a Mechanic for over 35 years,<br />
    whom retired from teaching mechanics in 2017 from the Calgary Board of Education.
</p>
<p>
    As Don was a teacher for over 35 years and in the mechanical industry, this makes Don<br />
    particularly adapted to the aspect of providing instruction, assistance and advice in all things automotive.<br />
    In the simplist terms possbile, so that we whom are not mechanical can understand. Don take great pride, in describing
    the technical jargon in mechanics to the layperson<br />
</p>
<p>
    Given todays world of specialization in auto make rather than generalization in automotives, This further lends itself<br />
    to Don's excellent position on providing sound advice on all things automotive. 
</p>
<p>
    We at Store.com look forward to your use of the information provide and hope you all the success<br />
    in repairing, purchasing and resolving all your automotive needs. 
</p>
