@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />
The Artist’s Bio:
<p>
    Born and raised in Calgary, Alberta, Canada. I am passionate about the Rocky Mountains and they are in my backyard.
</p>
<br />
<p>
I am a Geographer, Guide, Environmentist and a Civil Engineer with a love for Nature and I love showing others what I see in the backcountry.<br />
I took up Watercolor painting in the 1990’s, I enjoy landscapes and I usually have my painting set with me. <br />
I find doing a study while out in nature, makes me slow down and just observe and truly appreciate where I am.
</p>
<br />
<br />

					Bill Morgan

