
@{
    ViewBag.Title = "Disclaimer";
}
<div class="container">
    <div class="col-sm-12">

        <h1><strong>Disclaimer</strong></h1>
        <br />
        <br />
        Last updated: 2017/12/08 
        <br />
        <br />
        <p>
            The information contained on Store.com website (the "Service") is for general information purposes only.
            <br />William E Morgan (morganwe.ca) assumes no responsibility for errors or omissions in the contents on the Service. 
        <p>
            In no event shall William E Morgan (morganwe.ca) or Donald Morgan know as the "providers" be liable for any special, direct, indirect, consequential,<br />
            or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort,<br />
            arising out of or in connection with the use of the Service or the contents of the Service. <br />
            The providers reserves the right to make additions, deletions, <br />
            or modification to the contents on the Service at any time without prior notice.<br />
            The provider does not warrant that the website is free of viruses or other harmful components. 
        </p>
        <p>
            <h3>External links disclaimer </h3>
            Store.com website may contain links to external websites that are not provided or maintained by or in any way affiliated<br />
            with The providers Please note that the providers does not guarantee the accuracy, relevance,<br />
            timeliness, or completeness of any information on these external websites. 
        </p>
        <p>
            <h3>Store.com use disclaimer</h3>
            This website offers information and is designed for educational purposes only. You should not rely on this information<br />
            as a substitute for, nor does it replace, professional experience and or education. 
        </p>
        <p>
            <h3>Affiliate disclaimer</h3>
            This affiliate disclosure details the affiliate relationships of the providers with other companies and products.<br />
            Some of the links on are “affiliate links”, a link with a special tracking code. 
        </p>
        </div>
    </div>

