<body data-spy="scroll">
        <!--Home section start-->
        <section id="slider" class=" clearfix">
            <!--
            #################################
                - THEMEPUNCH BANNER -
            #################################
            -->
            <div class="fullwidthbanner">
                <div class="tp-fullscreen-banner">
                    <ul>
                        <!-- SLIDE  -->
                        <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="img/showcase-4a.jpg" data-delay="10000" data-saveperformance="off" data-title="Ask Your Mechanic Don">
                            <!-- MAIN IMAGE -->
                            <img src="~/Theme/img/showcase-4a.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption title customin ltl tp-resizeme"
                                 data-x="center"
                                 data-y="200"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                    Ask your Mechanic Don
                            </div>
                            <div class="tp-caption customin subtitle ltl tp-resizeme"
                                 data-x="center"
                                 data-y="280"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1250"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                <p class="lead">We simply answer your automotive question.</p>
                            </div>
                            <div class="tp-caption customin scroll-to ltl tp-resizeme"
                                 data-x="center"
                                 data-y="350"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1550"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="@Url.Action("Index","Products")" class="btn btn-default"><span>Ask Your Question</span><i class="icon-angle-right"></i></a></div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="~/Theme/img/bg-4a.jpg" data-delay="10000" data-saveperformance="off" data-title="Over 35 years of automotive experiance">
                            <!-- MAIN IMAGE -->
                            <img src="~/Theme/img/bg-4a.jpg" alt="kenburns6" data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="120" data-bgpositionend="center top">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption title customin ltl tp-resizeme"
                                 data-x="center"
                                 data-y="200"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                Over 35 years of automotive experiance
                            </div>
                            <div class="tp-caption subtitle customin ltl tp-resizeme"
                                 data-x="center"
                                 data-y="280"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1250"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                <p class="lead">We provide amazingly simple answers.</p>
                            </div>
                            <div class="tp-caption customin scroll-to ltl tp-resizeme"
                                 data-x="center"
                                 data-y="350"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1550"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="@Url.Action("Products","Home")" class="btn btn-default"><span>Ask Your Question</span><i class="icon-angle-right"></i></a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </section>
    </body>
